name: '[[ project_name ]]'
version: '0.0.0'
config-version: 2

# A common profile is used for all data products
profile: vg_data_hub

# These configurations specify where dbt should look for different types of files.
# For Databricks asset bundles, we put everything in src, as you may have
# non-dbt resources in your project.
model-paths: ["src/models"]
analysis-paths: ["src/analyses"]
test-paths: ["src/tests"]
seed-paths: ["src/seeds"]
macro-paths: ["src/macros"]
snapshot-paths: ["src/snapshots"]

flags:
  # https://docs.getdbt.com/reference/global-configs/behavior-changes#package-override-for-built-in-materialization
  require_explicit_package_overrides_for_builtin_materializations: True

clean-targets: # directories to be removed by `dbt clean`
  - "target"
  - "dbt_packages"

models:
{%- if with_dbt_artifacts %}
  dbt_artifacts:
    +schema: [[ dbt_artifacts_schema ]]
    sources:
      +schema: [[ dbt_artifacts_schema ]]_sources
    staging:
      +schema: [[ dbt_artifacts_schema ]]_staging

{%- endif %}
  [[ project_name ]]:
{%- if with_dbt_artifacts %}

on-run-end:
  - "{{ dbt_artifacts.upload_results(results) }}"
{%- endif %}
