name: [[ project_name ]]
version: 0.0.0 # x-release-please-version
config-version: 2
profile: [[ project_name ]]

# These configurations specify where dbt should look for different types of files.
# For Databricks asset bundles, we put everything in src, as you may have
# non-dbt resources in your project.
model-paths:
  - src/models
analysis-paths:
  - src/analyses
test-paths:
  - src/tests
seed-paths:
  - src/seeds
macro-paths:
  - src/macros
snapshot-paths:
  - src/snapshots

flags:
  # ref: https://docs.getdbt.com/reference/global-configs/behavior-changes#package-override-for-built-in-materialization
  require_explicit_package_overrides_for_builtin_materializations: True

clean-targets: # directories to be removed by `dbt clean`
  - target
  - dbt_packages

vars:
  # version is not exposed by dbt as a built-in variable, so we set a "redundant"
  # variable here for use in macros.
  project_version: 0.0.0 # x-release-please-version
[%- if with_automate_dv %]
  # Automate DV hashing configuration
  # ref: https://automate-dv.readthedocs.io/en/latest/macros/#hashing-configuration
  hash: SHA
  concat_string: '||'
  null_placeholder_string: '^^'
  hash_content_casing: 'UPPER'
  enable_native_hashes: true
[% endif %]

models:
[%- if with_dbt_artifacts %]
  dbt_artifacts:
    +schema: [[ dbt_artifacts_schema ]]
    sources:
      +schema: [[ dbt_artifacts_schema ]]_sources
    staging:
      +schema: [[ dbt_artifacts_schema ]]_staging

[%- endif %]
  [[ project_name ]]:
    # ref: https://docs.getdbt.com/reference/resource-configs/group
    +group: [[ project_name ]]
    # ref: https://docs.getdbt.com/reference/resource-configs/access
    +access: public
    # ref: https://docs.getdbt.com/reference/resource-configs/persist_docs
    +persist_docs:
      relation: true
      columns: true

on-run-start:
  - "{{ log_project_version() }}"
[%- if with_dbt_artifacts %]

on-run-end:
  - "{{ dbt_artifacts.upload_results(results) }}"
[%- endif %]
