# Establishing a new data product
```
cd [[ project_name ]]
git init
uv venv
.venv\Scripts\activate
uv sync --group dev
git add .
pre-commit install
pre-commit run --all-files
git commit -m ""
dbt init
```
