resources:
  jobs:
    [[ project_name ]]_job:
      name: [[ project_name ]]_job

      tasks:
        - task_key: [[ project_name ]]_dbt_build
          environment_key: default
          dbt_task:
            project_directory: ../
            commands:
              - 'dbt deps'
              - 'dbt build --select [[ project_name]]'
            catalog: ${var.catalog}
            schema: ${var.schema}
            warehouse_id: ${var.warehouse_id}

      environments:
        - environment_key: default
          spec:
            environment_version: "[[ databricks_serverless_environment_version ]]"
            dependencies:
              - [[ dbt_databricks_dependency ]]

      # The Databricks CLI currently requires the actual UUID of the budget policy.
      # A GitHub issue has been opened to support lookup by name.
      # See: https://github.com/databricks/cli/issues/4145
      #
      # Once that is supported, this should be changed to use the lookup syntax.
      budget_policy_id: ${var.budget_policy_id}

      # Extend the definition of the job here e.g. add scheduling with trigger attribute
