{% macro generate_schema_name(custom_schema_name, node) -%}
    {%- set default_schema = target.schema -%}

    {%- if "[[ dbt_artifacts_schema ]]" in custom_schema_name %}}
        {{ custom_schema_name | trim }}

    {%- elif custom_schema_name is not null -%}
        {{ default_schema }}_{{ custom_schema_name | trim }}

    {%- else -%}
        {{ default_schema }}
    {%- endif -%}
{%- endmacro %}
