name: Copier Update

on:
  schedule:
    # Runs at 00:00 every Monday
    - cron: '0 0 * * 1'
  workflow_dispatch: # Allows you to trigger it manually for testing

permissions:
  contents: write
  pull-requests: write

jobs:
  update-template:
    runs-on: ubuntu-latest
    steps:
      - uses: [[ gha__actions__checkout]]
        with:
          fetch-depth: 0 # Important for copier to see git tags

      - name: Install Python
        uses: [[ gha__actions__setup_python]]
        with:
          python-version: '3.12'

      - name: Install uv
        uses: [[ gha__astral_sh__setup_uv]]

      - name: Run Copier Update
        run: |
          uvx copier update --skip-answered

      - name: Check for changes
        id: git_check
        run: |
          [%- raw %]
          if [[ -n $(git status --porcelain) ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi
          [%- endraw %]

      - name: Check for merge conflicts
        if: steps.git_check.outputs.changed == 'true'
        run: |
          echo "-- git status --"
          git status
          echo "-- end git status --"
          if git status | grep -q "Unmerged paths"; then
            echo "Error: Merge conflicts detected. Please resolve locally."
            exit 1
          fi

      - name: Create Pull Request
        if: steps.git_check.outputs.changed == 'true'
        uses: [[ gha__peter_evans__create_pull_request ]]
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore: update project from template"
          branch: copier-update--master
          title: "🤖 Periodic Copier Template Update"
          body: |
            This is an automated PR to sync the project with the latest version of the template.

            **Note:** Please check for any `.rej` files in this PR. If they exist, manual resolution is required.
          labels: |
            template-sync
            automated-pr
