on:
  push:
    branches:
      - master

permissions:
  contents: write
  issues: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      pr: ${{ steps.release.outputs.pr }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      sha: ${{ steps.release.outputs.sha }}
    steps:
      - uses: [[ gha__googleapis__release_please_action ]]
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json

  update-uv-lock:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.pr }}
    steps:
      - uses: [[ gha__actions__checkout ]]
        with:
          # We must check out the branch created by release-please
          ref: ${{ fromJson(needs.release-please.outputs.pr).headBranchName }}
          fetch-depth: 0

      - name: Install uv
        uses: [[ gha__astral_sh__setup_uv ]]

      - name: Update uv.lock
        run: |
          uv lock

      - name: Configure git as github-actions[bot]
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Commit uv.lock
        uses: [[ gha__devops_infra__action_commit_push]]
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          commit_prefix: "chore: "
          commit_message: "update uv.lock"

  deploy-to-tst:
    runs-on: ubuntu-latest
    # This job only runs if the release-please job actually created a release
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    environment: tst
    env:
      DATABRICKS_HOST: ${{ vars.DATABRICKS_HOST }}
      DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
      BUNDLE_VAR_budget_policy_id: ${{ vars.BUNDLE_VAR_BUDGET_POLICY_ID }}
      BUNDLE_VAR_warehouse_name: ${{ vars.BUNDLE_VAR_WAREHOUSE_NAME }}

    steps:
      - uses: [[ gha__actions__checkout ]]
        with:
          ref: ${{ needs.release-please.outputs.tag_name}}

      - uses: databricks/setup-cli@main
        with:
          version: "[[ databricks_cli_dependency ]]"

      - name: Deploy Bundle to Test
        run: databricks bundle deploy --target tst

  label-associated-pr:
    runs-on: ubuntu-latest
    # This job only runs if the release-please job actually created a release
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}

    steps:
      - name: Checkout repo
        uses: [[ gha__actions__checkout ]]

      - name: Find PR(s) for commit
        id: prs-for-commit
        uses: [[ gha__actions__github_script ]]
        env:
          SHA: ${{ needs.release-please.outputs.sha }}
        with:
          script: |
            const {owner, repo} = context.repo;
            const sha = process.env.SHA;
            const res = await github.request('GET /repos/{owner}/{repo}/commits/{ref}/pulls', {
                owner, repo, ref: sha
            });
            const numbers = res.data.map(pr => pr.number);
            core.setOutput('numbers', JSON.stringify(numbers));

      - name: Add label to PR
        uses: [[ gha__actions_ecosystem__action_add_labels]]
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ fromJSON(steps.prs-for-commit.outputs.numbers)[0] }}
          labels: "autorelease: published"

      - name: Remove label from PR
        uses: [[ gha__actions_ecosystem__action_remove_labels]]
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ fromJSON(steps.prs-for-commit.outputs.numbers)[0] }}
          labels: "autorelease: tagged"
