dbt_project:
  outputs:
    databricks_env:
      catalog: [[ dev_catalog ]]
      host: "{{ env_var('DATABRICKS_HOST') }}"
      http_path: "{{ env_var('DATABRICKS_HTTP_PATH') }}"
      schema: [[ data_product_schema ]]
      threads: 4
      token: "{{ env_var('DATABRICKS_TOKEN') }}"
      type: databricks
  target: databricks_env
