on:
  push:
    branches:
      - master

permissions:
  contents: write
  issues: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      pr: ${{ steps.release.outputs.pr }}
      sha: ${{ steps.release.outputs.sha }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json

  update-uv-lock:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.pr }}
    steps:
      - uses: actions/checkout@v4
        with:
          # We must check out the branch created by release-please
          ref: ${{ fromJson(needs.release-please.outputs.pr).headBranchName }}
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Update uv.lock
        run: |
          uv lock

      - name: Commit uv.lock
        uses: devops-infra/action-commit-push@v1.0.3
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          commit_prefix: "chore: "
          commit_message: "update uv.lock"

  label-associated-pr:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Find PR(s) for commit
        id: prs-for-commit
        uses: actions/github-script@v7
        with:
            script: |
                const {owner, repo} = context.repo;
                const sha = needs.release-please.outputs.sha;
                const res = await github.request('GET /repos/{owner}/{repo}/commits/{ref}/pulls', {
                    owner, repo, ref: sha
                });
                const numbers = res.data.map(pr => pr.number);
                core.setOutput('numbers', JSON.stringify(numbers));

      - name: Add label to PR
        if: ${{ steps.prs-for-commit.outputs.numbers != '' }}
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ steps.prs-for-commit.outputs.numbers }}
          labels: "autorelease: published"

      - name: Remove label from PR
        if: ${{ steps.prs-for-commit.outputs.numbers != '' }}
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ steps.prs-for-commit.outputs.numbers }}
          labels: "autorelease: tagged"
